<main class="layout">
  <h1>{{ title }}</h1>
  @for (article of articles; track $index) {
  @if (article.isPublished) {
  <article>
    <div class="card">
      <img [src]="article.image" [alt]="article.title" />
      <h2 [ngStyle]="{'color': getColorByLikes(article.likes)}">{{ article.title}}</h2>
      <h6>Par {{article.author}}</h6>
      <p>Content : {{ article.content}}</p>
      <p [ngClass]="{'popular-article': article.likes > 100}">
        Likes : {{ article.likes }}
      </p>
    </div>
  </article>
  }
  } @empty {
  <p>There are no articles.</p>
  }
</main>

<router-outlet />
