<nav>
  <h1>Wild Blog</h1>
  @if (likedMessage) {
  <p class="liked-message">{{ likedMessage }}</p>
  }
  <ul>
    @for (article of articles; track $index) {
    <app-article [article]="article" (liked)="onArticleLiked(article.title)" />
    }
    <li>
      <a routerLink='/contact'>
        <p>Contact</p>
      </a>
    </li>
    <li>
      <a routerLink='/signup'>
        <p>Signup</p>
      </a>
    </li>
    <li>
      <a routerLink="/login">
        <p>Login</p>
      </a>
    </li>
  </ul>
</nav>

<app-button [styles]="{
   'background-color': 'orange',
   'color': 'white'
  }">
  Orange Button
</app-button>
<app-button [styles]="{ 'background-color': 'green', 'color': 'white' }">Green Button</app-button>
<app-button [styles]="{
  'background-color': 'transparent',
  'color': 'blue',
  'border': '1px solid blue' }">Transparent
  Button</app-button>
<app-button [styles]="{
  'background-color': 'red',
  'color': 'white',
  'font-size': '1rem' }">
  Big Red Button
</app-button>
<app-button [styles]="{ 'background-color': 'purple', 'color': 'yellow' }">Purple Button</app-button>
<app-button [styles]="{}">Default</app-button>