<nav>
  <h1>Wild Blog</h1>
  @if (likedMessage) {
  <p class="liked-message">{{ likedMessage }}</p>
  }
  <ul>
    @for (article of articles; track $index) {
    <app-article [article]="article" (liked)="onArticleLiked(article.title)" />
    }
    <li>
      <a routerLink='/contact'>
        <p>Contact</p>
      </a>
    </li>
    <li>
      <a routerLink='/signup'>
        <p>Signup</p>
      </a>
    </li>
    <li>
      <a routerLink="/login">
        <p>Login</p>
      </a>
    </li>
  </ul>
</nav>